html {
  background: url(../img/image.jpg) no-repeat;
  background-size: 100%;
}

body {
  margin: 0 auto;
  width: 880px;
  background-color: #e3e3e3;
  -webkit-box-shadow: 0 0 15px black;
  -moz-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
  border: 0px solid black;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

#top {
  width: 960px;
  margin: 0 auto;
}

#logo {
  width: 880px;
  margin: 0 auto;
}

#logorow {
  width: 550px;
  margin: 0 auto;
}

#logoimg {
  width: 550px;
  height:200px;
  margin: auto;
}

#linecontainer {
  width: 880px;
  margin: auto;
}

#linerow {
  margin: auto;
  width: 880px;
}

#line {
  margin: auto;
  width: 860px;
  height: 10px;
  border-top: 3px solid black;
  position: relative;
  left: -5px;
}

#stockline {
  margin: auto;
  width: 500px;
  height: 10px;
  border-top: 1px solid gray;
}

#balancerow {
  width: 300px;
  margin: 10px auto;
  background-color: white;
  border: 1px solid gray;
  -webkit-box-shadow: inset 0px 0px 3px gray;
  -moz-box-shadow: inset 0px 0px 3px gray;
  box-shadow: inset 0px 0px 3px gray;
}

#balance {
  width: 300px;
  margin: auto;
}

#symbol, #amount, #quantity, #interval, #table {
  border: 1px solid gray;
  -webkit-box-shadow: inset 0px 0px 3px gray;
  -moz-box-shadow: inset 0px 0px 3px gray;
  box-shadow: inset 0px 0px 3px gray;
}

table {
  margin: 10px auto;
}

table#items {
  width: 100%; }

// #tableborder {
//   border-bottom: 1px solid gray;
//   width: 500px;
// }

.buttonshadow {
  -webkit-box-shadow: 2px 2px 5px gray;
  -moz-box-shadow: 2px 2px 5px gray;
  box-shadow: 2px 2px 2px gray;
}

// #buy {
//   -webkit-box-shadow: 2px 2px 5px gray;
//   -moz-box-shadow: 2px 2px 5px gray;
//   box-shadow: 2px 2px 2px gray;
// }

#stocklistcontainer {
  margin: 10px auto;
}

#totalcontainer {
  padding-bottom: 40px;
}

#totalrow {
  width: 300px;
  margin: 10px auto;
  background-color: white;
  border: 1px solid gray;
  -webkit-box-shadow: inset 0px 0px 3px gray;
  -moz-box-shadow: inset 0px 0px 3px gray;
  box-shadow: inset 0px 0px 3px gray;
}

#total {
  width: 300px;
  margin: auto;
}

#stocklisttitle {
  margin-left: 175px;
}

.red {
  background-color: #e00000;
}

.green {
  background-color: #23ab00;
}

.current {
  color: white;
  font-weight: bold;
  border: 1px solid gray;
}

tr, th {
  border: 1px solid gray;
  -webkit-box-shadow: inset 0 0 5px gray;
  -moz-box-shadow: inset 0 0 5px gray;
  box-shadow: inset 0 0 5px gray;
}