html {
  background-color: #ffa357; }

body {
  background-color: #e3e3e3;
  width: 760px;
  height: 805px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black; }

#amount, #add_box {
  margin-top: 20px; }

h1 {
  margin: auto;
  padding-top: 40px;
  width: 350px; }

#colorbox {
  margin-top: 15px; }

.box {
  height: 30px;
  width: 30px;
  margin: 10px;
  border: 3px solid black;
  float: left; }

.paintbox {
  height: 5px;
  width: 5px;
  margin: 0;
  padding: 0;
  border: 1px dashed black;
  float: left;
  display: block; }

#form {
  width: 530px;
  margin: 20px auto; }

#brush {
  border: 3px solid black;
  padding: 2px 15px;
  margin-left: 25px; }

.clear {
  clear: both; }

#boxes {
  margin-top: 40px; }
