#left
  .row
    .small-12.columns
#middle
  #map-canvas
#right
  .row
    .small-12.columns
      %input#start.button.radius.expand.success{type: "button", value: "Start"}
  .row
    .small-12.columns
      %input#stop.button.radius.expand{type: "button", value: "Stop"}
  .row
    .small-12.columns
      %input#erase.button.radius.expand.alert{type: "button", value: "Erase"}
  .row
    .small-12.columns
      %h6#debug Debug
