extends ../template/layout

block content
  #overall
    .row
      .small-12.columns
        h1 COLORS
    .row
      .small-12.columns
        h3#subtitlehome HOME PAGE
    .row
      .small-12.columns
        #line
      .small-2.columns
        a(href='/colors') COLORS
      .small-10.columns
