!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title QUnit Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %h1 BANK OF NASHVILLE
    %container
      %h1#balance
        Your Balance: $
        %span#money 1000
    %input#field{type: "text", placeholder: "Enter Amount Here"}
    %input#deposit{type: "button", value: "Deposit"}
    %input#withdraw{type: "button", value: "Withdraw"}

    %script{src: 'js/jquery-1.10.2.min.js'}
    %script{src: 'js/underscore-min.js'}
    %script{src: 'js/main.js'}