extends ../template/layout

block content
  .row
    .small-1.columns
      h1.subheader Home
    #navbar
      .small-1.columns
        a.button.radius.small.expand(href="/posts") Posts
      .small-10.columns
