doctype 5
html
  head
    title Cats!!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My cat page
    p Welcome to Node
    img(src="http://www.freegreatpicture.com/files/157/1562-cute-little-cat.jpg")
