doctype 5
html
  head
    title Dogs!!!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My dog page
    p Welcome to Node
    img(src="http://upload.wikimedia.org/wikipedia/commons/4/47/American_Eskimo_Dog.jpg")
